body {
  background: #ffffff;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin: 0;
  min-width: 900px;
  padding: 0;
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds.woff") format("woff"),
       url("../fonts/symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-nerds";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */


h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h3 {
  color: #283136;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

p {
  color: #283136;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 880px;
}

.main-header {
  background-color: #eeeeee;
  color: #000000;
  padding-bottom: 50px;
}

.logo {
  float: left;
  height: 56px;
  padding-top: 27px;
  padding-right: 135px;
  width: 140px;
}

.main-menu {
  float: left;
  width: 480px;
}

.main-menu ul {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu li {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  margin-left: 45px;
  padding-top: 47px;
  text-transform: uppercase;
  vertical-align: top;
}

.main-menu a {
  color: #000000;
  text-decoration: none;
}

.main-menu a:hover {
  border: none;
  color: #fb565a;
}

.main-menu a:active {
  border: none;
  color: #8f8f8f;
}

.onpage {
  border-bottom: 2px solid #fb565a;
}

.user-block {
  float: right;
  padding-top: 47px;
  width: 100px;
}

.user-block a {
  color: #000000;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
}

.user-block span {
  opacity: 0.3;
  padding-right: 10px;
}

.user-block a:hover {
  border: none;
  color: #fb565a;
}

.user-block a:hover span {
  opacity: 1;
}

.user-block a:active {
  border: none;
  color: #000000;
  opacity: 0.4;
}

.user-block a:active span {
  opacity: 0.15;
}

.slider-content {
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.slider {
  position: relative;
}

.slider input[type=radio]{
  display: none;
}

.slider-slides {
  width: 300%;
}

.slider-slides .slide {
  float: left;
  width: 880px;
}

.slider-inner {
  overflow: hidden;
}

.slider-controls {
  left: 400px;
  position: absolute;
  top: 200px;
}

.slider-controls label {
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
  cursor: pointer;
  display: inline-block;
  height: 10px;
  margin: 0 3px;
  vertical-align: top;
  width: 10px;
}

.slide-content {
  float: left;
  margin-right: 20px;
  padding-top: 25px;
  width: 380px;
}

.promo-title {
  font-size: 36px;
  line-height: 36px;
}

.slide-content p {
  padding-bottom: 30px;
  padding-top: 25px;
}

.slide-image {
  float: right;
  width: 340px;
}

.btn {
  background-color: #fb565a;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  padding: 10px 40px;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: top;
}

.btn-slide {
  padding: 10px 70px;
}

.btn-green {
  background-color: #00ca74;
}

.btn-green:hover {
  background-color: #01a25e;
}

.btn-green:active {
  background-color: #009053;
  box-shadow: inset 0 2px 0 0 #007b47;
}

.btn-yellow {
  background-color: #efc84a;
}

.btn-yellow:hover {
  background-color: #d6ae2c;
}

.btn-yellow:active {
  background-color: #c09b24;
  box-shadow: inset 0 2px 0 0 #a3841f;
}

.btn-contacts {
  padding: 10px 50px;
}

.btn-red:hover {
  background-color: #d6494d;
}

.btn-red:active {
  background-color: #b63538;
  box-shadow: inset 0 2px 0 0 #9b2d30;
}

.features {
  margin-bottom: 60px;
}

.features .container {
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 80px;
}

.features-item {
  float: left;
  margin-right: 60px;
  width: 240px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-item p {
  font-size: 15px;
  padding-bottom: 25px;
  padding-top: 20px;
}

.features-item img {
  padding-bottom: 25px;
}

.index-content .container {
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 45px;
  padding-bottom: 72px;
}

.index-content p {
  padding-bottom: 45px;
  padding-top: 17px;
}

.index-content-left {
  float: left;
  padding-top: 15px;
  width: 620px;
}

.index-content-right {
  float: right;
  width: 240px;
}

.index-content-right img {
  height: 75px;
  width: 187px;
  margin-left: 30px;
}

.logo-title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-left: 14px;
  padding-right: 14px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.logo-title::before {
  content: "";
  background-color: #eeeeee;
  display: inline-block;
  float: left;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 25px;
  width: 65px;
}

.logo-title::after {
  content: "";
  background-color: #eeeeee;
  display: inline-block;
  float: right;
  height: 2px;
  left: 180px;
  position: absolute;
  top: 25px;
  width: 62px;
}

.index-promo {
  font-size: 36px;
  line-height: 36px;
}

.index-content-right .promo-title {
  padding-top: 70px;
}

.index-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.index-content li {
  color: #283136;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  padding-left: 37px;
  padding-top: 30px;
  position: relative;
}

.index-content li::before {
  background: #fb565a;
  content: "";
  height: 2px;
  left: 0px;
  position: absolute;
  top: 45px;
  width: 25px;
}

.logos-list .container {
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 5px;
  padding-bottom: 30px;
}

.logo-item {
  display: inline-block;
  margin-right: 120px;
  opacity: 0.2;
  vertical-align: middle;
}

.logo-item:first-child {
  margin-left: 12px;
}

.logo-item:last-child{
  margin-right: 0;
}

.logo-item:hover {
  opacity: 1;
}

.logo-item:active {
  opacity: 1;
}

.map {
  height: 416px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  position: relative;
  width: 1199px;
}

.contacts {
  background: #ffffff;
  height: 220px;
  left: 160px;
  padding-left: 20px;
  padding-top: 30px;
  position: absolute;
  top: 85px;
  width: 230px;
}

.contacts h3 {
  color: #000;
  line-height: 30px;
  padding-bottom: 15px;
}

.contacts p {
  color: #666666;
  line-height: 20px;
  padding-bottom: 25px;
}

.contacts .phone {
  color: #666666;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding-bottom: 25px;
  text-decoration: none;
}

.main-footer {
  padding-bottom: 75px;
  padding-top: 75px;
}

.footer-social {
  float: left;
  width: 240px;
}

.social {
  background-color: #e1e1e1;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-size: 0;
  height: 62px;
  margin-right: 23px;
  text-align: center;
  vertical-align: top;
  width: 62px;
}

.social:last-child {
  margin-right: 0;
}

.social span {
  font-size: 23px;
  line-height: 62px;
}

.social:hover {
  background-color: #fb565a;
}

.social:active {
  background-color: #d6494d;
  box-shadow: inset 0 2px 0 0 #b63e42;
}

.discount {
  float: right;
  width: 560px;
}

.discount p{
  padding-top: 18px;
}

/* Стили каталога */
.welcome {
  background-color: #eeeeee;
  margin-bottom: 80px;
  padding-bottom: 90px;
}

.welcome-text {
  width: 700px;
  font-size: 40px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.filter-form {
  float: left;
  width: 240px;
}

.filter-item {
  padding-bottom: 20px;
}

.filter-item label {
  color: #283136;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  cursor: pointer;
  display: block;
  line-height: 20px;
  margin: 25px 0px;
  padding-left: 35px;
  position: relative;
}

input[type="radio"] + label::before {
  color: #c1c1c1;
  content: "\25cb";
  font-family: "symbols-nerds";
  font-size: 28px;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

input[type="radio"]:checked + label::before {
  content: "\25cf";
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  cursor: pointer;
  display: block;
  line-height: 20px;
  margin: 25px 0px;
  padding-left: 35px;
  position: relative;
}

input[type="checkbox"] + label::before {
  color: #c1c1c1;
  content: "\2610";
  font-family: "symbols-nerds";
  font-size: 28px;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

input[type="checkbox"]:checked + label::before {
  content: "\2611";
}

.btn-gray {
  background-color: #f1f1f1;
  color: #000000;
}

.btn-gray:hover {
  background-color: #e5e5e5;
}

.btn-gray:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 2px 0 0 #b5b5b5;
}

.btn-show {
  border: none;
  outline: none;
  padding-left: 47px;
}

.catalog-items {
  float: right;
  width: 560px;
}

.sort {
  padding-bottom: 20px;
}

.sort h4 {
  color: #000000;
  float: left;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.sort ul {
  float: left;
  font-size: 0;
  list-style: none;
  margin-right: 100px;
  padding: 0;
}

.sort li {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin-left: 45px;
  padding: 0;
  text-transform: uppercase;
  vertical-align: top;
}

.sort li:first-child {
  margin-left: 40px;
}

.sort li a {
  border-bottom: 1px dotted #00ca74;
  color: #000000;
  opacity: 0.3;
  text-decoration: none;
}

.sort li a:hover {
  border-bottom: 1px solid #00ca74;
  opacity: 1;
}

.sort li a:active {
  border: none;
  opacity: 1;
}

.sort li .active {
  border: none;
  opacity: 1;
}

.icon-up-dir,
.icon-down-dir {
  display: inline-block;
  color: #c1c1c1;
  font-size: 20px;
  width: 12px;
}

.icon-up-dir:hover,
.icon-down-dir:hover {
  color: #b5b5b5;
}

.icon-up-dir:active,
.icon-down-dir:active {
  color: #000000;
}

.active {
  color: #00ca74;
}

.catalog-item {
  display: inline-block;
  height: 240px;
  margin-right: 76px;
  margin-bottom: 80px;
  margin-top: 30px;
  position: relative;
  vertical-align: top;
  width: 240px;
}

.catalog-item:nth-child(even) {
  margin-right: 0;
}

.catalog-item::before {
  border-radius: 5px;
  content: url("../img/browser.png");
  display: block;
  opacity: 0.1;
  position: absolute;
  top: -30px;
}

.catalog-item:hover::before {
  opacity: 1;
}

.item-price {
  background-color: #ffffff;
  cursor: pointer;
  display: none;
  height: 200px;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 200px;
}

.item-title {
  line-height: 1.2;
  margin-bottom: 20px;
  margin-top: 35px;
  text-align: center;
}

.item-text {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.btn-price {
  box-sizing: border-box;
  font-size: 18px;
  margin: 30px 30px 30px 30px;
  padding: 10px 0;
  text-align: center;
  vertical-align: bottom;
  width: 140px;
}

.catalog-item:hover .item-price {
  display: block;
}

.paginator {
  white-space: nowrap;
  width: 285px;
}

.paginator a {
  background: #f1f1f1;
  border-radius: 5px;
  color: #000000;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  height: 38px;
  line-height: 38px;
  margin-left: 6px;
  min-width: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
}

.paginator a:last-child {
  min-width: 140px;
}

.paginator a:hover {
  background-color: #e5e5e5;
}

.paginator a:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 2px 0 0 #b5b5b5;
}

.paginator .current {
  background-color: #ffffff;
  box-shadow:
    inset 2px 2px 0 0 #f2f2f2,
    inset -2px -2px 0 0 #f2f2f2;
    cursor: default;
}

.paginator .current:hover {
  background-color: #ffffff;
  box-shadow:
    inset 2px 2px 0 0 #f2f2f2,
    inset -2px -2px 0 0 #f2f2f2;
}
